html, body {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
  height:100%;
  padding:0;
  margin:0;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin:20px;
  background-color: #000000;
  background-image: url(images/background.png);
  background-size: contain;
  overflow: hidden;
  touch-action: none;
  height: 100%;
}
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: transparent;
  border: 1px solid transparent;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 48px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-info {
  margin-left: 20px;
}


.icons-attribution, .game-status, .fallen-soldier-block{
  margin-top: 20px;
  min-height: 50px;
}



/*Board color scheme Wheat from http://omgchess.blogspot.com/2015/09/chess-board-color-schemes.html*/
.dark-square{
background-color: RGB(187,190,100);
}

.light-square{
    background-color: RGB(234,240,206);
}

#player-turn-box{
  width: 32px;
  height: 32px;
  border: 1px solid #000;
  margin-bottom: 10px;
  display: inline-block;
}

h3{
  margin-bottom: 5px;
}

.cta {
  background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.9));
  background-size: cover;
  padding: 0px 0;
  
}
.cta img{
  padding:80px;

}
.cta:before{
  background: url(images/game_title.png) fixed center 25px;
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

/* .cta:after{
  background: url(images/btn_start.png) fixed center 400px;
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
} */
.cta2{
  background: url(images/btn_start.png) center center;
  position: absolute;
  width: 373px;
  height: 107px;
  top: 50%;
  left: 50%;
  background-repeat: no-repeat;
  transform: translate(-50%,-50%);
  display: inline-block;
}
.room{
  overflow: hidden;
}
.room-me{
  background: url(images/plan_bg.png) no-repeat;
  background-size: 100%;
  position: relative;  
  padding: 80px;
}
.room-cta-game{
  position: relative;
}
.room-cta-free{
  position: absolute;
  top: 76%;
  left: -6%;
  background: url(images/btn_free.png) no-repeat center;
  height: 85px;
  width: 100%;
  transform: translate(7%,5%)
}
.room-cta-btn_05{
  background: url(images/btn_0.5.png) no-repeat center;
}
.room-cta-btn_01{
  background: url(images/btn_1.png) no-repeat center;
}
.room-cta-btn_02{
  background: url(images/btn_2.png) no-repeat center;
}
.room-cta-btn_05{
  background: url(images/btn_5.png) no-repeat center;
}
.game-board{
  position: relative;
}
.board-custom-mg{
  background: url(images/board.png) no-repeat center/85%;
  padding: 73px 74px 95px 72px;
}